html{
    width: 25%;
    margin-left: 37.5%;
}
nav{
    background-color:orange;
    height: 70px;
}
.footer{
    background-color: lightgray;
}
.textarea{
    height: 80px;
}
input{
    margin: 10px;
}